@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}
.login {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.login > .login-items {
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .login > .login-items > .button {
    margin: 5em;
    padding: .7em 1.5em;
    font-size: 1.3em;
    font-weight: bold;
    color: hsl(313, 29%, 16%);
    background-colour: hsl(24, 84%, 53%);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}   */